.avis-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  padding-top: 0px;
  flex-direction: column;
}
.avis-navbar {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 1000;
  position: fixed;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-pallet-green);
}
.avis-header {
  height: 62px;
  position: relative;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: row;
  justify-content: space-between;
  background-color: #2975d7;
}
.avis-logo {
  top: 6px;
  left: 11px;
  width: 81px;
  height: 46px;
  margin: auto;
  position: absolute;
  align-self: flex-start;
  object-fit: cover;
  padding-top: 2px;
  text-decoration: none;
}
.avis-thq-dropdown {
  top: 8px;
  right: 13px;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  border-radius: var(--dl-radius-radius-radius2);
}
.avis-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  margin-left: 0%;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.avis-dropdown-arrow {
  transition: 0.3s;
}
.avis-menu {
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.avis-dropdown-list {
  left: -50%;
  right: 0px;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.avis-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.avis-dropdown-toggle1 {
  fill: #2975d7;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.avis-dropdown-toggle1:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.avis-navlink1 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
.avis-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.avis-dropdown-toggle2 {
  fill: #2975d7;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.avis-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.avis-navlink2 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
.avis-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.avis-dropdown-toggle3 {
  fill: #2975d7;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.avis-dropdown-toggle3:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.avis-navlink3 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
.avis-main {
  width: 100%;
  height: 1871px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #ffffff;
}
.avis-navlink4 {
  top: 80px;
  left: 15px;
  color: rgb(123, 189, 254);
  position: absolute;
  text-decoration: none;
}
.avis-text2 {
  top: 80px;
  left: 75px;
  color: #7bbdfe;
  position: absolute;
}
.avis-text3 {
  top: 80px;
  left: 95px;
  color: rgb(41, 117, 215);
  position: absolute;
}
.avis-text6 {
  top: 120px;
  left: 15px;
  color: rgb(41, 117, 215);
  position: absolute;
  font-size: 28px;
  font-style: normal;
  font-family: "Jost";
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-decoration: none;
}
.avis-image {
  top: 190px;
  left: 0px;
  width: 223px;
  height: 310px;
  position: absolute;
  object-fit: cover;
}
.avis-image01 {
  top: 525px;
  left: 0px;
  width: 223px;
  height: 310px;
  position: absolute;
  object-fit: cover;
}
.avis-image02 {
  top: 861px;
  left: 0px;
  width: 223px;
  height: 310px;
  position: absolute;
  object-fit: cover;
}
.avis-image03 {
  top: 1198px;
  left: 0px;
  width: 223px;
  height: 310px;
  position: absolute;
  object-fit: cover;
}
.avis-image04 {
  left: 0px;
  width: 223px;
  bottom: 26px;
  height: 310px;
  position: absolute;
  object-fit: cover;
}
.avis-image05 {
  top: 190px;
  right: 0px;
  width: 223px;
  height: 310px;
  position: absolute;
  object-fit: cover;
}
.avis-image06 {
  top: 525px;
  right: 0px;
  width: 223px;
  height: 310px;
  position: absolute;
  object-fit: cover;
}
.avis-image07 {
  top: 861px;
  right: 0px;
  width: 223px;
  height: 310px;
  position: absolute;
  object-fit: cover;
}
.avis-image08 {
  top: 1198px;
  right: 0px;
  width: 223px;
  height: 310px;
  position: absolute;
  object-fit: cover;
}
.avis-image09 {
  right: 0px;
  width: 223px;
  bottom: 26px;
  height: 310px;
  position: absolute;
  object-fit: cover;
}
.avis-footer {
  width: 100%;
  height: 94px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #2975d7;
}
.avis-navlink5 {
  display: contents;
}
.avis-image10 {
  top: 7px;
  left: 0px;
  right: 0px;
  width: 84px;
  height: 41px;
  margin: auto;
  position: absolute;
  align-self: center;
  object-fit: cover;
  text-decoration: none;
}
.avis-text7 {
  color: rgb(255, 255, 255);
}
