.boutique-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  padding-top: 0px;
  flex-direction: column;
}
.boutique-navbar {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 1000;
  position: fixed;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-pallet-green);
}
.boutique-header {
  height: 62px;
  position: relative;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: row;
  justify-content: space-between;
  background-color: #2975d7;
}
.boutique-logo {
  top: 12%;
  left: 5%;
  width: 81px;
  height: 46px;
  margin: auto;
  position: absolute;
  align-self: flex-start;
  object-fit: cover;
  padding-top: 2px;
  text-decoration: none;
}
.boutique-thq-dropdown {
  top: 8px;
  right: 13px;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  border-radius: var(--dl-radius-radius-radius2);
}
.boutique-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  margin-left: 0%;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.boutique-dropdown-arrow {
  transition: 0.3s;
}
.boutique-menu {
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.boutique-dropdown-list {
  left: -50%;
  right: 0px;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.boutique-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.boutique-dropdown-toggle1 {
  fill: #2975d7;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.boutique-dropdown-toggle1:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.boutique-navlink01 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
.boutique-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.boutique-dropdown-toggle2 {
  fill: #2975d7;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.boutique-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.boutique-navlink02 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
.boutique-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.boutique-dropdown-toggle3 {
  fill: #2975d7;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.boutique-dropdown-toggle3:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.boutique-navlink03 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
.boutique-main {
  width: 100%;
  height: 1112px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}
.boutique-navlink04 {
  top: 7%;
  left: 5%;
  color: rgb(123, 189, 254);
  position: absolute;
  text-decoration: none;
}
.boutique-text02 {
  top: 7%;
  left: 22%;
  color: #7bbdfe;
  position: absolute;
}
.boutique-text03 {
  top: 7%;
  left: 26%;
  color: #2975d7;
  position: absolute;
}
.boutique-text06 {
  top: 11%;
  left: 5%;
  color: #2975d7;
  position: absolute;
  font-size: 28px;
  font-style: normal;
  font-family: Jost;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-decoration: none;
}
.boutique-netflix-product {
  top: 17%;
  left: 2%;
  width: 151px;
  height: 195px;
  display: flex;
  position: absolute;
  align-items: flex-end;
  background-size: cover;
  justify-content: space-between;
  background-image: url("public/product%20netflix-200w.png");
  background-position: center;
}
.boutique-navlink05 {
  left: 14%;
  bottom: 5%;
  position: absolute;
  text-decoration: none;
}
.boutique-netflix-product1 {
  top: 36%;
  left: 2%;
  width: 151px;
  height: 195px;
  display: flex;
  position: absolute;
  align-items: flex-end;
  background-size: cover;
  justify-content: space-between;
  background-image: url("public/product%20-%20prime%20video-200w.png");
  background-position: center;
}
.boutique-navlink06 {
  left: 14%;
  bottom: 5%;
  position: absolute;
  text-decoration: none;
}
.boutique-netflix-product2 {
  top: 55%;
  left: 2%;
  width: 151px;
  height: 195px;
  display: flex;
  position: absolute;
  align-items: flex-end;
  background-size: cover;
  justify-content: space-between;
  background-image: url("public/product%20hulu-200w.png");
  background-position: center;
}
.boutique-navlink07 {
  left: 14%;
  bottom: 5%;
  position: absolute;
  text-decoration: none;
}
.boutique-netflix-product3 {
  top: 74%;
  left: 2%;
  width: 151px;
  height: 195px;
  display: flex;
  position: absolute;
  align-items: flex-end;
  background-size: cover;
  justify-content: space-between;
  background-image: url("public/product%20paramount%2B-200w.png");
  background-position: center;
}
.boutique-navlink08 {
  left: 14%;
  bottom: 5%;
  position: absolute;
  text-decoration: none;
}
.boutique-netflix-product4 {
  top: 17%;
  right: 2%;
  width: 151px;
  height: 195px;
  display: flex;
  position: absolute;
  align-items: flex-end;
  background-size: cover;
  justify-content: space-between;
  background-image: url("public/product%20apple%20tv%2B-200w.png");
  background-position: center;
}
.boutique-navlink09 {
  left: 14%;
  bottom: 5%;
  position: absolute;
  text-decoration: none;
}
.boutique-netflix-product5 {
  top: 36%;
  right: 2%;
  width: 151px;
  height: 195px;
  display: flex;
  position: absolute;
  align-items: flex-end;
  background-size: cover;
  justify-content: space-between;
  background-image: url("public/product%20-%20hbo%20max-200w.png");
  background-position: center;
}
.boutique-navlink10 {
  left: 14%;
  bottom: 5%;
  position: absolute;
  text-decoration: none;
}
.boutique-netflix-product6 {
  top: 55%;
  right: 2%;
  width: 151px;
  height: 195px;
  display: flex;
  position: absolute;
  align-items: flex-end;
  background-size: cover;
  justify-content: space-between;
  background-image: url("public/product%20disney%2B-200w.png");
  background-position: center;
}
.boutique-navlink11 {
  left: 14%;
  bottom: 5%;
  position: absolute;
  text-decoration: none;
}
.boutique-netflix-product7 {
  top: 74%;
  right: 2%;
  width: 151px;
  height: 195px;
  display: flex;
  position: absolute;
  align-items: flex-end;
  background-size: cover;
  justify-content: space-between;
  background-image: url("public/product%20amc%2B-200w.png");
  background-position: center;
}
.boutique-navlink12 {
  left: 14%;
  bottom: 5%;
  position: absolute;
  text-decoration: none;
}
.boutique-footer {
  width: 100%;
  height: 94px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #2975d7;
}
.boutique-navlink13 {
  display: contents;
}
.boutique-image {
  top: 10%;
  left: 0px;
  right: 0px;
  width: 84px;
  height: 41px;
  margin: auto;
  position: absolute;
  align-self: center;
  object-fit: cover;
  text-decoration: none;
}
.boutique-text23 {
  color: rgb(255, 255, 255);
  font-size: 13px;
}
