.checkout-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  padding-top: 0px;
  flex-direction: column;
}
.checkout-navbar {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 1000;
  position: fixed;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-pallet-green);
}
.checkout-header {
  height: 62px;
  position: relative;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: row;
  justify-content: space-between;
  background-color: #2975d7;
}
.checkout-image {
  top: 6px;
  left: 11px;
  width: 81px;
  height: 46px;
  margin: auto;
  position: absolute;
  align-self: flex-start;
  object-fit: cover;
  padding-top: 2px;
  text-decoration: none;
}
.checkout-thq-dropdown {
  top: 8px;
  right: 13px;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  border-radius: var(--dl-radius-radius-radius2);
}
.checkout-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  margin-left: 0%;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.checkout-dropdown-arrow {
  transition: 0.3s;
}
.checkout-image1 {
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.checkout-dropdown-list {
  left: -50%;
  right: 0px;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.checkout-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.checkout-dropdown-toggle1 {
  fill: #2975d7;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.checkout-dropdown-toggle1:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.checkout-navlink1 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
.checkout-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.checkout-dropdown-toggle2 {
  fill: #2975d7;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.checkout-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.checkout-navlink2 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
.checkout-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.checkout-dropdown-toggle3 {
  fill: #2975d7;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.checkout-dropdown-toggle3:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.checkout-navlink3 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
.checkout-main {
  width: 100%;
  height: 2023px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #ffffff;
}
.checkout-navlink4 {
  top: 80px;
  left: 15px;
  color: rgb(123, 189, 254);
  position: absolute;
  text-decoration: none;
}
.checkout-text02 {
  top: 80px;
  left: 75px;
  color: #7bbdfe;
  position: absolute;
}
.checkout-navlink5 {
  top: 80px;
  left: 95px;
  color: rgb(41, 117, 215);
  position: absolute;
  text-decoration: none;
}
.checkout-text03 {
  color: #7bbdfe;
}
.checkout-text05 {
  top: 266px;
  left: 0px;
  color: rgb(41, 117, 215);
  right: 0px;
  width: 300px;
  margin: auto;
  position: absolute;
  font-size: 28px;
  font-style: normal;
  font-family: "Jost";
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-decoration: none;
}
.checkout-text06 {
  top: 148px;
  left: 0px;
  color: rgb(41, 117, 215);
  right: 0px;
  width: 442px;
  margin: auto;
  position: absolute;
  font-size: 28px;
  font-style: normal;
  font-family: "Jost";
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-decoration: none;
}
.checkout-text07 {
  top: 866px;
  left: 0px;
  color: rgb(41, 117, 215);
  right: 0px;
  width: 311px;
  margin: auto;
  position: absolute;
  font-size: 28px;
  font-style: normal;
  font-family: "Jost";
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-decoration: none;
}
.checkout-text08 {
  top: 1466px;
  left: 0px;
  color: rgb(41, 117, 215);
  right: 0px;
  width: 409px;
  margin: auto;
  position: absolute;
  font-size: 28px;
  font-style: normal;
  font-family: "Jost";
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-decoration: none;
}
.checkout-text09 {
  top: 80px;
  left: 165px;
  color: #7bbdfe;
  position: absolute;
  align-self: flex-start;
}
.checkout-text10 {
  top: 80px;
  left: 185px;
  color: rgb(41, 117, 215);
  position: absolute;
}
.checkout-image2 {
  top: 313px;
  left: 0px;
  right: 0px;
  width: 429px;
  height: 510px;
  margin: auto;
  position: absolute;
  object-fit: cover;
}
.checkout-image3 {
  top: 914px;
  left: 0px;
  right: 0px;
  width: 429px;
  height: 510px;
  margin: auto;
  position: absolute;
  object-fit: cover;
}
.checkout-image4 {
  left: 0px;
  right: 0px;
  width: 429px;
  bottom: 0px;
  height: 510px;
  margin: auto;
  position: absolute;
  object-fit: cover;
}
.checkout-footer {
  width: 100%;
  height: 94px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #2975d7;
}
.checkout-navlink6 {
  display: contents;
}
.checkout-image5 {
  top: 7px;
  left: 0px;
  right: 0px;
  width: 84px;
  height: 41px;
  margin: auto;
  position: absolute;
  align-self: center;
  object-fit: cover;
  text-decoration: none;
}
.checkout-text11 {
  color: rgb(255, 255, 255);
}
