.comment-payer-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  padding-top: 0px;
  flex-direction: column;
}
.comment-payer-navbar {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 1000;
  position: fixed;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-pallet-green);
}
.comment-payer-header {
  height: 62px;
  position: relative;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: row;
  justify-content: space-between;
  background-color: #2975d7;
}
.comment-payer-image {
  top: 12%;
  left: 5%;
  width: 81px;
  height: 46px;
  margin: auto;
  position: absolute;
  align-self: flex-start;
  object-fit: cover;
  padding-top: 2px;
  text-decoration: none;
}
.comment-payer-thq-dropdown {
  top: 8px;
  right: 13px;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  border-radius: var(--dl-radius-radius-radius2);
}
.comment-payer-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  margin-left: 0%;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.comment-payer-dropdown-arrow {
  transition: 0.3s;
}
.comment-payer-image1 {
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.comment-payer-dropdown-list {
  left: -50%;
  right: 0px;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.comment-payer-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.comment-payer-dropdown-toggle1 {
  fill: #2975d7;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.comment-payer-dropdown-toggle1:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.comment-payer-navlink1 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
.comment-payer-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.comment-payer-dropdown-toggle2 {
  fill: #2975d7;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.comment-payer-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.comment-payer-navlink2 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
.comment-payer-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.comment-payer-dropdown-toggle3 {
  fill: #2975d7;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.comment-payer-dropdown-toggle3:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.comment-payer-navlink3 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
.comment-payer-main {
  width: 100%;
  height: 1959px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #ffffff;
}
.comment-payer-navlink4 {
  top: 4%;
  left: 5%;
  color: rgb(123, 189, 254);
  position: absolute;
  text-decoration: none;
}
.comment-payer-text02 {
  top: 4%;
  left: 22%;
  color: #7bbdfe;
  position: absolute;
}
.comment-payer-navlink5 {
  top: 4%;
  left: 26%;
  color: rgb(41, 117, 215);
  position: absolute;
  text-decoration: none;
}
.comment-payer-text03 {
  color: #7bbdfe;
}
.comment-payer-text05 {
  top: 12%;
  left: 0px;
  color: rgb(41, 117, 215);
  right: 0px;
  width: 320px;
  height: 71px;
  margin: auto;
  position: absolute;
  font-size: 20px;
  font-style: normal;
  text-align: center;
  font-family: "Jost";
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-decoration: none;
}
.comment-payer-text11 {
  top: 4%;
  left: 46%;
  color: #7bbdfe;
  position: absolute;
  align-self: flex-start;
}
.comment-payer-text12 {
  top: 4%;
  left: 50%;
  color: rgb(41, 117, 215);
  position: absolute;
}
.comment-payer-heading {
  top: 7%;
  left: 0px;
  color: rgb(41, 117, 215);
  right: 0px;
  width: 320px;
  height: 37px;
  margin: auto;
  position: absolute;
  font-size: 20px;
  font-style: normal;
  text-align: center;
  font-family: "Jost";
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-decoration: none;
}
.comment-payer-link {
  display: contents;
}
.comment-payer-image2 {
  width: 200px;
  align-self: center;
  margin-top: 100%;
  object-fit: cover;
  text-decoration: none;
}
.comment-payer-footer {
  width: 100%;
  height: 94px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #2975d7;
}
.comment-payer-navlink6 {
  display: contents;
}
.comment-payer-image3 {
  top: 10%;
  left: 0px;
  right: 0px;
  width: 84px;
  height: 41px;
  margin: auto;
  position: absolute;
  align-self: center;
  object-fit: cover;
  text-decoration: none;
}
.comment-payer-text15 {
  color: rgb(255, 255, 255);
  font-size: 13px;
}
