.hulu-page-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  padding-top: 0px;
  flex-direction: column;
}
.hulu-page-navbar {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 1000;
  position: fixed;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-pallet-green);
}
.hulu-page-header {
  height: 62px;
  position: relative;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: row;
  justify-content: space-between;
  background-color: #2975d7;
}
.hulu-page-image {
  top: 6px;
  left: 11px;
  width: 81px;
  height: 46px;
  margin: auto;
  position: absolute;
  align-self: flex-start;
  object-fit: cover;
  padding-top: 2px;
  text-decoration: none;
}
.hulu-page-thq-dropdown {
  top: 8px;
  right: 13px;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  border-radius: var(--dl-radius-radius-radius2);
}
.hulu-page-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  margin-left: 0%;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.hulu-page-dropdown-arrow {
  transition: 0.3s;
}
.hulu-page-image1 {
  width: 30px;
  height: 30px;
  object-fit: cover;
}
.hulu-page-dropdown-list {
  left: -50%;
  right: 0px;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.hulu-page-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.hulu-page-dropdown-toggle1 {
  fill: #2975d7;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.hulu-page-dropdown-toggle1:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.hulu-page-navlink01 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
.hulu-page-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.hulu-page-dropdown-toggle2 {
  fill: #2975d7;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.hulu-page-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.hulu-page-navlink02 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
.hulu-page-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.hulu-page-dropdown-toggle3 {
  fill: #2975d7;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.hulu-page-dropdown-toggle3:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.hulu-page-navlink03 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
.hulu-page-main {
  width: 100%;
  height: 1121px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}
.hulu-page-navlink04 {
  top: 80px;
  left: 15px;
  color: rgb(123, 189, 254);
  position: absolute;
  text-decoration: none;
}
.hulu-page-text02 {
  top: 80px;
  left: 75px;
  color: #7bbdfe;
  position: absolute;
}
.hulu-page-navlink05 {
  top: 80px;
  left: 95px;
  color: rgb(41, 117, 215);
  position: absolute;
  text-decoration: none;
}
.hulu-page-text03 {
  color: #7bbdfe;
}
.hulu-page-text05 {
  top: 120px;
  left: 15px;
  color: rgb(41, 117, 215);
  position: absolute;
  font-size: 28px;
  font-style: normal;
  font-family: "Jost";
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-decoration: none;
}
.hulu-page-text06 {
  top: 80px;
  left: 165px;
  color: #7bbdfe;
  position: absolute;
  align-self: flex-start;
}
.hulu-page-text07 {
  top: 80px;
  left: 185px;
  color: rgb(41, 117, 215);
  position: absolute;
}
.hulu-page-image2 {
  top: 655px;
  left: 0px;
  right: 0px;
  width: 431px;
  height: 401px;
  margin: auto;
  position: absolute;
  object-fit: cover;
}
.hulu-page-footer {
  width: 100%;
  height: 94px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #2975d7;
}
.hulu-page-navlink06 {
  display: contents;
}
.hulu-page-image3 {
  top: 7px;
  left: 0px;
  right: 0px;
  width: 84px;
  height: 41px;
  margin: auto;
  position: absolute;
  align-self: center;
  object-fit: cover;
  text-decoration: none;
}
.hulu-page-text08 {
  color: rgb(255, 255, 255);
}
.hulu-page-container1 {
  top: 201px;
  left: 0px;
  right: 0px;
  width: 423px;
  height: 428px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-end;
  background-size: cover;
  justify-content: center;
  background-image: url("public/product%20plan%20hulu-500h.png");
  background-position: center;
}
.hulu-page-navlink07 {
  left: 23px;
  bottom: 21px;
  position: absolute;
  text-decoration: none;
}
.hulu-page-navlink08 {
  left: 155px;
  bottom: 20px;
  position: absolute;
  text-decoration: none;
}
.hulu-page-navlink09 {
  right: 22px;
  bottom: 22px;
  position: absolute;
  text-decoration: none;
}
