.hulu-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  padding-top: 0px;
  flex-direction: column;
}
.hulu-navbar {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 1000;
  position: fixed;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-pallet-green);
}
.hulu-header {
  height: 62px;
  position: relative;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: row;
  justify-content: space-between;
  background-color: #2975d7;
}
.hulu-image {
  top: 12%;
  left: 5%;
  width: 81px;
  height: 46px;
  margin: auto;
  position: absolute;
  align-self: flex-start;
  object-fit: cover;
  padding-top: 2px;
  text-decoration: none;
}
.hulu-thq-dropdown {
  top: 8px;
  right: 13px;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  border-radius: var(--dl-radius-radius-radius2);
}
.hulu-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  margin-left: 0%;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.hulu-dropdown-arrow {
  transition: 0.3s;
}
.hulu-image1 {
  width: 30px;
  height: 30px;
  object-fit: cover;
  text-decoration: none;
}
.hulu-dropdown-list {
  left: -50%;
  right: 0px;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.hulu-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.hulu-dropdown-toggle1 {
  fill: #2975d7;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.hulu-dropdown-toggle1:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.hulu-navlink2 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
.hulu-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.hulu-dropdown-toggle2 {
  fill: #2975d7;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.hulu-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.hulu-navlink3 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
.hulu-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.hulu-dropdown-toggle3 {
  fill: #2975d7;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.hulu-dropdown-toggle3:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.hulu-text {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  text-decoration: none;
}
.hulu-main {
  width: 100%;
  height: 909px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff;
}
.hulu-navlink4 {
  top: 9%;
  left: 5%;
  color: rgb(123, 189, 254);
  position: absolute;
  text-decoration: none;
}
.hulu-text03 {
  top: 9%;
  left: 22%;
  color: #7bbdfe;
  position: absolute;
}
.hulu-navlink5 {
  top: 9%;
  left: 26%;
  color: rgb(41, 117, 215);
  position: absolute;
  text-decoration: none;
}
.hulu-text04 {
  color: #7bbdfe;
}
.hulu-text06 {
  top: 14%;
  left: 5%;
  color: rgb(41, 117, 215);
  position: absolute;
  font-size: 28px;
  font-style: normal;
  font-family: "Jost";
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-decoration: none;
}
.hulu-text07 {
  top: 9%;
  left: 46%;
  color: rgb(123, 189, 254);
  position: absolute;
  align-self: flex-start;
}
.hulu-text08 {
  top: 9%;
  left: 50%;
  color: rgb(41, 117, 215);
  position: absolute;
}
.hulu-image2 {
  top: 63%;
  left: 0px;
  right: 0px;
  width: 308px;
  height: 309px;
  margin: auto;
  position: absolute;
  object-fit: cover;
}
.hulu-netflix-product {
  top: 25%;
  left: 0px;
  right: 0px;
  width: 313px;
  height: 306px;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-end;
  margin-right: auto;
  background-size: cover;
  justify-content: space-between;
  background-image: url("public/product%20plan%20hulu-400h.png");
  background-position: center;
}
.hulu-navlink6 {
  left: 0px;
  right: 0px;
  width: 90%;
  bottom: 5%;
  height: 30%;
  margin: auto;
  position: absolute;
  text-decoration: none;
}
.hulu-footer {
  width: 100%;
  height: 94px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #2975d7;
}
.hulu-navlink7 {
  display: contents;
}
.hulu-image3 {
  top: 10%;
  left: 0px;
  right: 0px;
  width: 84px;
  height: 41px;
  margin: auto;
  position: absolute;
  align-self: center;
  object-fit: cover;
  text-decoration: none;
}
.hulu-text11 {
  color: rgb(255, 255, 255);
  font-size: 13px;
}
