.disney-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  overflow-x: hidden;
  align-items: center;
  padding-top: 70px;
  flex-direction: column;
}
.disney-navbar {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 1000;
  position: fixed;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-pallet-green);
}
.disney-header {
  height: 81px;
  position: relative;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: row;
  justify-content: space-between;
  background-color: #141414;
}
.disney-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.disney-burger-menu {
  display: none;
}
.disney-thq-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.disney-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.disney-dropdown-arrow {
  transition: 0.3s;
}
.disney-icon {
  width: 24px;
  height: 24px;
}
.disney-dropdown-list {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.disney-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.disney-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.disney-dropdown-toggle1:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.disney-text {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.disney-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.disney-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.disney-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.disney-text1 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.disney-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.disney-dropdown-toggle3 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.disney-dropdown-toggle3:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.disney-text2 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.disney-dropdown3 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.disney-dropdown-toggle4 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.disney-dropdown-toggle4:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.disney-text3 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.disney-image {
  top: 5px;
  left: 0px;
  right: 0px;
  width: 97px;
  height: 66px;
  margin: auto;
  position: absolute;
  align-self: flex-start;
  object-fit: cover;
  text-decoration: none;
}
.disney-main {
  width: 100%;
  height: 1093px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #212121;
}
.disney-image1 {
  top: 74px;
  left: 0px;
  right: 0px;
  width: 335px;
  height: 327px;
  margin: auto;
  position: absolute;
  object-fit: cover;
  border-color: #ffffff;
  border-width: 5px;
  text-decoration: none;
}
.disney-image2 {
  top: 438px;
  left: 0px;
  right: 0px;
  width: 420px;
  height: 139px;
  margin: auto;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.disney-navlink1 {
  display: contents;
}
.disney-image3 {
  top: 611px;
  left: 0px;
  right: 0px;
  width: 251px;
  height: 59px;
  margin: auto;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.disney-image4 {
  top: 710px;
  left: 0px;
  right: 0px;
  width: 395px;
  height: 263px;
  margin: auto;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
.disney-footer {
  width: 100%;
  height: 136px;
  display: flex;
  position: relative;
  align-items: center;
  border-color: #141414;
  border-width: 1px;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #141414;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.disney-navlink2 {
  display: contents;
}
.disney-image5 {
  top: 10px;
  left: 0px;
  right: 0px;
  width: 95px;
  height: 56px;
  margin: auto;
  position: absolute;
  align-self: center;
  object-fit: cover;
  text-decoration: none;
}
.disney-text4 {
  color: rgb(255, 255, 255);
}
